# Virtual Environment
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Media & Static (optional — but safe to ignore since they're in git)
/media/
/staticfiles/